#profile-picture {
    border-radius: 100%;
}

.header {
    background-color: #F1F7B5;
    height: 75vh;
}

.navigation-bar {
    background-color: #FD8A8A;
}

h1 {
    font-family: 'Inconsolata', monospace;
}

h2 {
    font-family: 'Righteous', cursive;
}

.footer-section {
    background-color: #9EA1D4;
}

p {
    color: black;
    font-family: 'Righteous', cursive;
}

.about-me {
    display: flex;
    background-color: #A8D1D1;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.about-me-description {
    margin-bottom: 0px;
    font-size: 2em;
}

.projects-section {
    background-color: #F1F7B5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1800px;
    height: 1050px;
}

.project-item {
    border: 3px solid black;
}

.contact-me-section {
    background-color: #F1F7B5;
    height: 100vh;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
    .about-me {
        height: 100vh;
    }
}